<h1><a href="/">my.Blog</a></h1>
<nav>
    <ul>
        <li><a href="/create">create a Blog entry!</a></li>
    </ul>
</nav>

<ul>
    <% if(locals.blogEntries.length === 0) { %>
        <h2>No Blog Posts!</h2>
        <% console.log("no blog posts!") %>
    <% } else { 
        locals.blogEntries.forEach((object) => { %>
        <li><%= object.title %></li>
        <% }) %>
        <% console.log(locals.blogEntries) %>
    <% } %>
</ul>