<h1><a href="/">my.Blog</a></h1>
<nav>
    <ul>
        <li><a href="/create">create a Blog entry!</a></li>
    </ul>
</nav>

<ul>
    <% if(locals.blogEntries.length === 0) { %>
        <h2>No Blog Posts!</h2>
        <% console.log("no blog posts!") %>
    <% } else { 
        locals.blogEntries.forEach((object) => { %>
        <li>
            <form action="/view" method="POST">
                <input type="hidden" name="title" value="<%= object.title %>" />
                <input type="hidden" name="text" value="<%= object.text %>" />
                <input type="submit" class="blogPostViewLink" value="<%= object.title %>" />
                <% console.log(`Blog Post Title: ${object.title} Blog Post Text: ${object.text}`) %>
            </form>
        </li>
        <% }) %>
        <% console.log(locals.blogEntries) %>   
    <% } %>
</ul>

// import footer 