<%- include("partials/header.ejs") %>

<div class="postCreationContainer">
    <h2 class="postCreation">create your Blog post!</h2>

    <form class="postCreationForm" action="/submit" method="POST">
        <input type="text" class="postTitleBox" name="postTitle" placeholder="Title of Blog Post" required />
        <textarea class="postTextBox" name="postText" placeholder="Insert text here..." required></textarea>
        <div class="submitButtonContainer">
            <input type="submit" class="submitButton" value="submit" />
        </div>
    </form>
</div>
<%- include("partials/footer.ejs") %>