<!-- import header -->

<h1>create your Blog entry!</h1>

<form>
    <input type="text" class="postTitle" name="title" value="Title of Blog Post" />
    <input type="text" class="postText" name="text" />
    <input type="submit" id="submitButton" value="submit" />
</form>