<!-- import header -->

<h1>create your Blog entry!</h1>

<form action="/submit" method="POST">
    <input type="text" class="postTitleBox" name="postTitle" placeholder="Title of Blog Post" />
    <textarea rows="10" columns="30" class="postTextBox" name="postText" placeholder="Insert text here..."></textarea>
    <input type="submit" class="submitButton" value="submit" />
</form> 

<!-- import footer -->